In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [3]:
os.chdir ("C:\\Noble\\Training\\Top Mentor\\Training\\Data Set\\")
df1= pd.read_excel("Data Preprocessing Data File.xlsx")	
print (df1)

   Country   Age   Salary  Purchased
0   France   44.0  72000.0         No
1    Spain   27.0  48000.0        Yes
2  Germany    NaN  54000.0         No
3    Spain   39.0      NaN         No
4  Germany    NaN  64000.0        Yes
5   France   35.0  58000.0        Yes
6    Spain   39.0  52000.0         No
7   France   48.0      NaN        Yes
8  Germany   50.0  83000.0         No
9   France   37.0  67000.0        Yes

In [7]:
x= df1.iloc[:,:-1].values
x

array([['France ', 44.0, 72000.0],
       ['Spain ', 27.0, 48000.0],
       ['Germany ', nan, 54000.0],
       ['Spain ', 39.0, nan],
       ['Germany ', nan, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, nan],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [10]:
y =  df1.iloc [:,3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(x[:,1:3])
x [:,1:3]= imputer.transform(x[:,1:3])
print (x)

In [22]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy= 'mean')
imp= imp.fit(x[:,1:3])
x[:,1:3]= imp.transform(x[:,1:3])
x

array([['France ', 44.0, 72000.0],
       ['Spain ', 27.0, 48000.0],
       ['Germany ', 39.875, 54000.0],
       ['Spain ', 39.0, 62250.0],
       ['Germany ', 39.875, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, 62250.0],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [23]:
x

array([['France ', 44.0, 72000.0],
       ['Spain ', 27.0, 48000.0],
       ['Germany ', 39.875, 54000.0],
       ['Spain ', 39.0, 62250.0],
       ['Germany ', 39.875, 64000.0],
       ['France ', 35.0, 58000.0],
       ['Spain ', 39.0, 52000.0],
       ['France ', 48.0, 62250.0],
       ['Germany ', 50.0, 83000.0],
       ['France ', 37.0, 67000.0]], dtype=object)

In [25]:
from sklearn.impute import SimpleImputer
imp1 = SimpleImputer(missing_values=np.nan, strategy= 'mean')
imp2 = imp1.fit(x[:,1:3])
print (imp2)

SimpleImputer()