In [1]:
list1 = [10,20,30,40,50]

In [2]:
del(list1[2])
list1

[10, 20, 40, 50]

In [6]:
list1.remove(50)

In [7]:
list1

[20, 40]

In [8]:
list1 = [10,20,30,40,50]
del(list1[2:5])
list1

[10, 20]

In [9]:
list1 = [10,20,30,40,10, 10,50]
list1.remove(10)
list1

[20, 30, 40, 10, 10, 50]

In [10]:

list1.remove(10)
list1

[20, 30, 40, 10, 50]

In [11]:

list1.remove(10)
list1

[20, 30, 40, 50]

In [12]:

list1.remove(10)
list1

ValueError: list.remove(x): x not in list

In [13]:
tup1= (10,20,30)
tup1

(10, 20, 30)

[10, 20, 30]

In [15]:
l1 =[10,20,30]
t1=tuple(l1)
t1

(10, 20, 30)

In [16]:
list2 = [(1,2,3),('x','Y','Z','A')]

In [18]:
print (len(list2))

2

In [19]:
len(list2[0])

3

In [20]:
len(list2[1])

4

In [21]:
tup1 =(1,2,3,'x','y','m')
tup2 =('x','y','m','N')

In [22]:
print (max(tup2))

y

In [23]:
print (min(tup2))

N

In [26]:
tup2 =('x','y','m','N','50')

In [27]:
print (min(tup2))

50

In [28]:
tup1 =(1,2,3,'x','y','m')

In [29]:
tup1*2

(1, 2, 3, 'x', 'y', 'm', 1, 2, 3, 'x', 'y', 'm')

In [30]:
print ('x' in tup1)

True

In [ ]:
tup1=(10,20,30)

In [32]:
t1 = (40,10,20,30,40)
print (min(t1))

10

In [33]:
t1  = ('d','a','b','c')
min(t1)

'a'

In [36]:
t1  = ('d','a','b','c','D')
min(t1)

'D'

In [37]:
tup1 [:2]

(1, 2)

In [39]:
tup3=tup1[:]*3
tup3

(3, 'x', 'y', 'm', 3, 'x', 'y', 'm', 3, 'x', 'y', 'm')

In [40]:
tup1

(1, 2, 3, 'x', 'y', 'm')

In [42]:
tup3=tup1[3:5]*3
tup3

('x', 'y', 'x', 'y', 'x', 'y')

In [43]:
tup1 = tup2+tup3
tup1

('x', 'y', 'm', 'N', '50', 'x', 'y', 'x', 'y', 'x', 'y')

In [44]:
tup2

('x', 'y', 'm', 'N', '50')

In [45]:
tup3

('x', 'y', 'x', 'y', 'x', 'y')

In [50]:
tup1 =(1,2,3)
tup2 =(4,5,6)
tup3 = tup1+tup2

In [47]:
print (tup3)

(1, 2, 3, 4, 5, 6)

In [48]:
del(tup1)

In [49]:
tup1

NameError: name 'tup1' is not defined

In [51]:
del(tup1[:])

TypeError: 'tuple' object does not support item deletion

In [52]:
tup2 = ([5,6,7],[10,11,12],13,14)

In [53]:
tup5 = (10,20,30)

In [55]:
tup5[2]= 100

TypeError: 'tuple' object does not support item assignment

In [67]:
tup2 = ([5,6,7],[10,11,12],13,14)

In [58]:
tup2[2] = 50

TypeError: 'tuple' object does not support item assignment

In [72]:
tup2[1][0] = 120

In [73]:
tup2

([5, 6, 7], [120, 11, 12], 13, 14)

In [60]:
tup2[1][0] = 80

In [61]:
tup2

([5, 6, 7], [80, 11, 12], 13, 14)

In [64]:
type(tup2[1] )

list

In [65]:
type(tup2[2] )

int

In [74]:
tup2

([5, 6, 7], [120, 11, 12], 13, 14)

In [75]:
print (type(tup2))

<class 'tuple'>

In [79]:
tup2 = ([5,6,7],[10,11,12],13,'one', 14.5)

In [80]:
print (type(tup2[3]))

<class 'str'>

In [90]:
x = 'Good Day'

In [91]:
print (len (x))

8

In [83]:
print (x [2:8])

od Day

In [84]:
print ('o' in x)

True

In [85]:
x = ('G','o','o','d','D','a','y')
print (len (x))

7

In [92]:
print ('Day' in x)

True

In [ ]:
print (len (x))

In [93]:
x = 'Good Day'

In [97]:
print (x.find('d'))

3

In [117]:
x = 'GoDod DayD'

In [123]:
len(x)

10

In [122]:
l1=[]
for i in range (len(x)):
    if x[i] == 'D':
        l1.append(x[x.find('D')])
        print (i)
print (l1)

2
6
9
['D', 'D', 'D']

In [120]:
len(l1)

3

In [107]:
print (x.find('D'))

2

In [101]:
x = set ('Good Morning')
print (x)

{'g', 'o', 'M', 'd', 'G', ' ', 'r', 'n', 'i'}

In [102]:
x = list ('Good Morning')
print (x)

['G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g']

In [124]:
l1=[]
for i in range (len(x)):
    if x[i] == 'D':
        l1.append(x[i])
        print (i)
print (l1)

2
6
9
['D', 'D', 'D']

In [127]:
x[x.find('D')]

'D'

In [128]:
a = {1,2,3,4}
b = {3,4,5,6,8}

In [129]:
a

{1, 2, 3, 4}

In [130]:
b

{3, 4, 5, 6, 8}

In [132]:
s1 = {10,20,30,20,30,40,50,60}
s1

{10, 20, 30, 40, 50, 60}

In [133]:
l1 = [10,20,30,20,30,40,50,60]
l1

[10, 20, 30, 20, 30, 40, 50, 60]

In [134]:
s1 = {50,10,20,30,20,30,40,50,60}
s1

{10, 20, 30, 40, 50, 60}

In [135]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80}

In [136]:
s1|s2 # union

{10, 20, 30, 40, 50, 60, 70, 80}

In [138]:
s1&s2

{40, 50, 60}

In [139]:
s1-s2

{10, 20, 30}

In [140]:
l1 = [10,20,30,40,50,60]
l2 = [40,50,60,70,80]
l1+l2

[10, 20, 30, 40, 50, 60, 40, 50, 60, 70, 80]

In [ ]:
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80}

In [141]:
s1-s2

{10, 20, 30}

In [142]:
s2-s1

{70, 80}

In [143]:
s1

{10, 20, 30, 40, 50, 60}

In [144]:
s1

{10, 20, 30, 40, 50, 60}

In [145]:
s1|s2

{10, 20, 30, 40, 50, 60, 70, 80}

In [146]:
s1.union(s2)

{10, 20, 30, 40, 50, 60, 70, 80}

In [147]:
s1.intersection(s2)

{40, 50, 60}

In [148]:
s1.difference(s2)

{10, 20, 30}

In [149]:
s2.difference(s1)

{70, 80}

In [150]:
s1 = {10,20,30,40,50}
s2 = {20,30,40}

In [151]:
s1.issubset(s2)

False

In [156]:
not(s1.issuperset(s2))

False

In [158]:
s1 = {10,20,30,40,50}
print (40  in s1 )

True

In [159]:
print (35  in s1 )

False

In [160]:
dir(s1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [161]:
s1

{10, 20, 30, 40, 50}

In [162]:
s1.add(60)

In [163]:
s1

{10, 20, 30, 40, 50, 60}

In [164]:
s1.clear()

In [165]:
s1

set()

In [166]:
s1 = {10,20,30,40,50}

In [167]:
s5= s1.copy()

In [168]:
s5

{10, 20, 30, 40, 50}

In [177]:
s1 = {10,20,30,40,50}

In [176]:
s1.remove(20)
s1

{10, 30, 40, 50}

In [180]:
s1.discard(20)
s1

{10, 30, 40, 50}

In [181]:
s1.symmetric_difference

In [182]:
s1

{10, 30, 40, 50}

In [183]:
s2

{20, 30, 40}

In [184]:
s1.symmetric_difference(s2)

{10, 20, 50}

In [186]:
s1.difference_update(s2)

In [187]:
s1 = {10,20,30}

In [188]:
dir (s1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [197]:
s1 = {10,20,30,40,50,60}

In [194]:
x =s1.remove (30)
x

In [192]:
s1

{10, 20, 40, 50, 60}

In [196]:
print (x)

None

In [198]:
x =s1.pop ()
x

40

In [199]:
s1

{10, 20, 30, 50, 60}

In [203]:
s1 = {10, 20, 40, 50, 60}
x =s1.pop (1)
x

TypeError: pop() takes no arguments (1 given)

In [208]:
s1 = {60,55,5,10,20,40,30,15,20,40,50,20,10}
s1

{5, 10, 15, 20, 30, 40, 50, 55, 60}

In [209]:
l1 = list(s1)

In [211]:
l1.pop(2)

10

In [212]:
s1 = {60,55,5,10,20,40,30,15,20,40,50,20,10}
s1

{5, 10, 15, 20, 30, 40, 50, 55, 60}

In [215]:
l1 = list(l1)
l1

[5, 40, 15, 50, 20, 55, 60, 30]

In [217]:
dict = {'Name' : 'Sam', 'Age':10}
dict

{'Name': 'Sam', 'Age': 10}

In [218]:
dict['Name']

'Sam'

In [219]:
dict['Age']

10

In [220]:
dict = {'Name' : ['Sam','Rob', 'Bill'], 'Age':10}
dict

{'Name': ['Sam', 'Rob', 'Bill'], 'Age': 10}

In [221]:
dict = {'Sam' : 'Today', 'Age':10}
dict

{'Sam': 'Today', 'Age': 10}

In [222]:
dict ['Sam']

'Today'

In [224]:
x = {}
x

{}

In [225]:
dict

{'Sam': 'Today', 'Age': 10}

In [227]:
dict.clear()

In [228]:
dict

{}

In [229]:
print (type(dict))

<class 'dict'>

In [ ]:
dict = {'Name' : ['Sam','Rob', 'Bill'], 'Age':10}
dict

In [230]:
tu = (10,20,30)

In [231]:
tu[1]

20

In [233]:
person = {'First_Name': 'John', 'Last_Name': 'Sam','Salary' : 5000}

In [234]:
person

{'First_Name': 'John', 'Last_Name': 'Sam', 'Salary': 5000}

In [235]:
person['First_Name']

'John'

In [236]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}
print (person['first_name'])

['John', 'Sam', 'Jim', 'Kim']

In [237]:
print (person['first_name'][1])

Sam

In [238]:
print (person['first_name'][1:3])

['Sam', 'Jim']

In [239]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}

In [242]:
person['first_name'][2] = 'Eric'

In [243]:
person

{'first_name': ['John', 'Sam', 'Eric', 'Kim'], 'Last_name': 'Len'}

In [244]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}

In [245]:
del (person['first_name'])

In [246]:
person

{'Last_name': 'Len'}

In [247]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}
del (person['first_name'][1])
person

{'first_name': ['John', 'Jim', 'Kim'], 'Last_name': 'Len'}

In [248]:
person = {'first_name':['John','Sam','Jim','Kim'],'Last_name': 'Len'}

In [249]:
person.keys()

dict_keys(['first_name', 'Last_name'])

In [250]:
person.values()

dict_values([['John', 'Sam', 'Jim', 'Kim'], 'Len'])

In [251]:
print (person.items())

dict_items([('first_name', ['John', 'Sam', 'Jim', 'Kim']), ('Last_name', 'Len')])

In [253]:
print (person.get ('first_name'))

['John', 'Sam', 'Jim', 'Kim']

In [252]:
person['first_name']

['John', 'Sam', 'Jim', 'Kim']

In [264]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
double_dict1 = {today*2:good**2 for (today,good) in dict1.items()}
print(double_dict1)

{'aa': 1, 'bb': 4, 'cc': 9, 'dd': 16, 'ee': 25}

In [261]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [265]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [266]:
thisdict['price'] = 1000000

In [267]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': 1000000}

In [268]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': 1000000}

In [279]:
thisdict ={
    "brand": "Ford",  
            "model": 
            "Mustang",
            "year": 1964}

In [280]:
x = thisdict.pop("model")

In [281]:
x

'Mustang'

In [282]:
thisdict

{'brand': 'Ford', 'year': 1964}

In [284]:
mydict = thisdict.copy()
mydict

{'brand': 'Ford', 'year': 1964}

In [285]:
mydict = thisdict
mydict

{'brand': 'Ford', 'year': 1964}

In [ ]:
Family =

In [ ]:
Family 
   Father 
   Mother
   Children 
       Child 
       Child 2

In [297]:
Family = {'Father': {'Name':'Tom','Age':58},
           'Mother': {'Name': 'Judy','Age':55},
           'Children': {'Child1':{'Name':'Luke','Age':18 },
                        
                        'Child2': {'Name': 'Ann'}
                       
                       }

SyntaxError: unexpected EOF while parsing (<ipython-input-297-3c5695b969fa>, line 7)

In [313]:
Family = {'Father': {'Name':'Tom','Age':58},
           'Mother': {'Name':'Tom','Age':58},
         'Children': {'Child1':{'Name':'Eric', 'Age':25},'Child2':{'Name':'Ann', 'Age':22}}
         }

In [312]:
Family

{'Father': {'Name': 'Tom', 'Age': 58},
 'Mother': {'Name': 'Tom', 'Age': 58},
 'Children': {'Child1': {'Name': 'Eric', 'Age': 25},
  'Child2': {'Name': 'Ann', 'Age': 22}}}

In [306]:
Family['Father']

{'Name': 'Tom', 'Age': 58}

In [308]:
Family['Children']['Child1']['Name']

'Eric'

In [314]:
Family['Children']['Child1'].values()

dict_values(['Eric', 25])

In [316]:
Family['Children']['Child1'].keys()

dict_keys(['Name', 'Age'])

In [317]:
Family['Children'].keys()

dict_keys(['Child1', 'Child2'])

In [318]:
Family['Children'].values()

dict_values([{'Name': 'Eric', 'Age': 25}, {'Name': 'Ann', 'Age': 22}])

In [319]:
customer_name = ['John','Sam','Rick','Jim', 'Ken']
order_id = ['AA123','AAA110','BBB111','BBB123','CCC100']

In [320]:
import itertools 
for (c,o) in zip (customer_name,order_id ):
    print ('Hello',c,' Your order id is',o)

Hello John  Your order id is AA123
Hello Sam  Your order id is AAA110
Hello Rick  Your order id is BBB111
Hello Jim  Your order id is BBB123
Hello Ken  Your order id is CCC100

In [327]:
for i in range ( len(customer_name)):
    print ('Hello',customer_name[i],' Your order id is',order_id[i])

Hello John  Your order id is AA123
Hello Sam  Your order id is AAA110
Hello Rick  Your order id is BBB111
Hello Jim  Your order id is BBB123
Hello Ken  Your order id is CCC100

In [328]:
Family

{'Father': {'Name': 'Tom', 'Age': 58},
 'Mother': {'Name': 'Tom', 'Age': 58},
 'Children': {'Child1': {'Name': 'Eric', 'Age': 25},
  'Child2': {'Name': 'Ann', 'Age': 22}}}

In [339]:
customer_name.append(20)

In [336]:
len(customer_name)

5

In [341]:
for i in range (len(customer_name)):
    print (customer_name[i])

John
Sam
Rick
Jim
Ken
20

In [342]:
for i in customer_name:
    print (i)

John
Sam
Rick
Jim
Ken
20

In [344]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers

In [345]:
print(sum_list([1,2,-8]))

-5

In [351]:
def multiply_list(items):
    one = 1
    for x in items:
        one*= x
    return one



print(multiply_list([1,2,-8]))

-16

In [347]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max

In [352]:
print(max_num_in_list([1, 2, -8, 0]))

2

In [353]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [354]:
x = [2, 8, 1, 4, 6, 3, 7] 
  
print ("Sorted List returned :"), 
print (sorted(x))

Sorted List returned :
[1, 2, 3, 4, 6, 7, 8]

In [355]:
print ("\nReverse sort :"), 
print (sorted(x, reverse = True))

Reverse sort :
[8, 7, 6, 4, 3, 2, 1]

In [356]:
x = {'q':1, 'w':2, 'e':3, 'r':4, 't':5, 'y':6}
print (sorted(x))

['e', 'q', 'r', 't', 'w', 'y']

In [360]:
L = ["cccc", "bceabc", "dd", "aaa"]
  
print ("Normal sort :", sorted(L))

Normal sort : ['aaa', 'bceabc', 'cccc', 'dd']

In [358]:
print ("Sort with len :", sorted(L, key = len))

Sort with len : ['b', 'dd', 'aaa', 'cccc']

In [ ]:
def func(x):
    return x % 7
  
L = [15, 3, 11, 7]
  
print ("Normal sort:", sorted(L))
print ("Sorted with key:", sorted (L, key = func))

In [361]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

In [362]:
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [369]:
def t(n): return n[0]

def sort_list_last(tuples):
  return sorted(tuples, key=t )

In [370]:
print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(1, 2), (2, 5), (2, 3), (2, 1), (4, 4)]

In [368]:
def func(x):
    return x % 7
  
L = [15, 3, 11, 7]
  
print ("Normal sort:", sorted(L))
print ("Sorted with key:", sorted (L, key = func))

Normal sort: [3, 7, 11, 15]
Sorted with key: [7, 15, 3, 11]

In [ ]:
1, 3, 4, 0 = == 7, 15,3,11