In [3]:
print('Hellow world')

Hellow world

In [5]:
a=10
print(a)

10

In [7]:
print (type(a))

<class 'int'>

In [8]:
a = 'Sunday'
b = 'Monday'
print (a+b)

SundayMonday

In [9]:
print ('Today is ', a,' Tomorrow is ', b)

Today is  Sunday  Tomorrow is  Monday

In [10]:
list1 = [10,20,30,40,50]
list1

[10, 20, 30, 40, 50]

In [15]:
for i in range (60,50,-2):
    print(i)

60
58
56
54
52

In [17]:
dict = {'Fist Name': 'John', 'Age': 25, 'Salary':5000}
print(dict)

{'Fist Name': 'John', 'Age': 25, 'Salary': 5000}

In [22]:
Emp= ['John', 25, 5000, 'TN']
Emp

['John', 25, 5000, 'TN']

In [21]:
s1 = {10,20,30,40,50,20,30,20}
print (s1)

{50, 20, 40, 10, 30}

In [23]:
tup = (10,20,30)
print (tup)
print (type(tup))

(10, 20, 30)
<class 'tuple'>

In [27]:
tup1 = (10,20,30, 30,20,10)
print (tup1)

(10, 20, 30, 30, 20, 10)

In [29]:
print (set(tup1))

{10, 20, 30}

In [30]:
l1 = [10,20,30]
print (30 in l1)

True

In [31]:
for i in l1:
    if (i == 20):
        print (i)

20

In [34]:
#Write a Python program to get the Python version you are using.  

import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

In [42]:
#Write a Python program to display the current date and time.
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-11-27 22:49:28

In [43]:
#Write a Python program which accepts the radius of a circle from the user and compute the area. 

from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

3.141592653589793

In [45]:
#Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them


fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname+ " "  + fname)

Input your First Name : nita
Input your Last Name : gaikwad
Hello  gaikwad nita

In [50]:
#Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 1 2 3
List :  ['1 2 3']

In [51]:
#Write a Python program to accept a filename from the user and print the extension of that. 

filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: n.java
The extension of the file is : 'java'

In [52]:
#Write a Python program to display the first and last colors from the following list. 

color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [57]:
#Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. 

a = int(input("Input an integer : "))
n1 = int( "%s" % a )
print(n1)
n2 = int( "%s%s" % (a,a) )
print(n2)
n3 = int( "%s%s%s" % (a,a,a) )
print(n3)
print (n1+n2+n3)

Input an integer : 9
9
99
999
1107

In [58]:
#Write a Python program to get the volume of a sphere with radius 6.

pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [65]:
#Newline

a=10
b ='Hellow'
print (a)
print (b)
print (a,'\n',b)

10
Hellow
10
 Hellow

In [66]:
x,y,z =10,12,'Hellow'
print (z)

Hellow

In [67]:
A =10+6j
B = 9+4j
print (A+B)

(19+10j)

In [68]:
a = 10
b = 15
print (a and b)
print (a or b)
print (not a )

15
10
False

In [69]:
x = [100,200,150]
print (100 in x)

True

In [70]:
Tuple1 = (10,15,'A')
print (Tuple1)

(10, 15, 'A')

In [72]:
print (Tuple1[1])

15

In [73]:
List1 = [[10,15,20],'A',25,(10,15,20)]

print (List1)
print (List1[0])
print (List1[0][1])

[[10, 15, 20], 'A', 25, (10, 15, 20)]
[10, 15, 20]
15

In [80]:
A = {'Age' :[25,30,35] , 'Name' : ['John','Sam','Jim','Kim']}
print (A)
type (A)
print (A['Name'])

{'Age': [25, 30, 35], 'Name': ['John', 'Sam', 'Jim', 'Kim']}
['John', 'Sam', 'Jim', 'Kim']

In [81]:
print (A is not B)

True

In [82]:
#If condition 

a =100
b = 100
if a>b:
    print (a,'Greater than ', b)
elif b>a:
    print (b,'Greater than',a)
else:
    print (a,'and ',b ,'are equal')

100 and  100 are equal

In [83]:
#If condition  Between 

a =300
if a <100:
    pr#int (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

300 Greater than 200

In [94]:
 #Inside If 
a =40
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')
               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [97]:
#Example 2 

a = 150
b = 200
if a<b:
    print (a,'is smaller than',b)
    if 10 <= a <=100:
        print (a,'is between 10 and 100')
    elif a<10:
        print (a,'is less than 10')
    
else:
    print (a,'is bigger number than',b)

150 is smaller than 200

In [98]:
#While loop
a =1
while a <5:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
Program end

In [99]:
#Example 2 
x = 2
print ('Loop Start')
while x < 10:
    print (x)
    x +=1
print ('Loop End ')

Loop Start
2
3
4
5
6
7
8
9
Loop End

In [100]:
#For Loop

A = [10,15,20,25]
for i in range (len(A)):
    print (i)
print ('Good Day')

0
1
2
3
Good Day

In [101]:
#Nested loop 

for i in range (10):
    print (str(i)*i)
    
print ('Good Day')

1
22
333
4444
55555
666666
7777777
88888888
999999999
Good Day

In [103]:
#Example 2 
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [108]:
#File Operations 
#Write File 
newfile= open("Sample1.txt",'w')
print ('Start')
for i in range (10):
    newfile.write('Welcome to Python\n')
print ('end')
newfile.close()

Start
end

In [109]:

#Read File 
newfile= open("Sample1.txt",'r')
print ('Start')
print (newfile.read())
print ('end')
newfile.close()

Start
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python

end

In [110]:
#close
newfile.close()

In [116]:
#Rename
import os
os.rename ("Sample1.txt","Sample5.txt")

In [117]:
#Remove 
import os
os.remove ("Sample5.txt")

In [122]:
#Write a Python program to count the number 4 in a given list.  

def list_count_4(nums):
  count = 0  
  for num in nums:
    if num == 4:
      count = count + 1

  return count


print(list_count_4([1, 4, 6, 7, 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

2
3

In [123]:
#Write a Python program to test whether a passed letter is a vowel or not.  
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels


print(is_vowel('c'))
print(is_vowel('e'))

False
True

In [124]:
#Write a Python program to check whether a specified value is contained in a group of values

def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False

print(is_group_member([1, 5, 8, 3], 3))
print(is_group_member([5, 8, 3], -1))

True
False

In [145]:
 #Write a Python program to create a histogram from a given list of integers. 
    
 
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '@'
          times = times - 1
        print(output)

histogram([2, 3, 6, 5])

@@
@@@
@@@@@@
@@@@@

In [144]:
#Write a Python program to concatenate all elements in a list into a string and return it. 

def concatenate_list_data(list):
    result= ''
    for element in list:
        result += str(element)
    return result

print(concatenate_list_data([1, 5, 12, 2]))

15122

In [146]:
#Write a Python program that will accept the base and height of a triangle and compute the area. 

b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 6
Input the height : 9
area =  27.0

In [147]:
#Write a Python program to sum of three given integers. However, if two values are equal sum will be zero. 

def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum

print(sum(2, 1, 2))
print(sum(3, 2, 2))
print(sum(2, 2, 2))
print(sum(1, 2, 3)) 
print(sum(5, 4, 3))

0
0
0
6
12

In [148]:
#Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

In [149]:
#Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

def test_number5(x, y):
    if x == y or abs(x-y) == 5 or (x+y) == 5:
        return True
    else:
        return False

print(test_number5(7, 2))
print(test_number5(3, 2))
print(test_number5(2, 2))

True
True
True

In [150]:
#Write a Python program to compute the distance between the points (x1, y1) and (x2, y2). 

import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt( ((p1[0]-p2[0])**2)+((p1[1]-p2[1])**2) )

print(distance)

6.324555320336759